<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="twitter:card" content="photo" />
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/styleguide.css" />
    <link rel="stylesheet" href="../static/css/myself.css" />
    <link rel="stylesheet" href="../static/css/nav.css" />
    </head>
  <body>
    <div class="myself">
      <div class="div">
        <div class="overlap">
          <img class="shape" src="../static/img/shape-2.png" />
          <footer class="footer">
            <p class="text-wrapper">Copyright © 破鏡寵緣 讓愛延續 2024. All rights reserved.</p>
            <div class="overlap-group">
              <div class="text-wrapper-2">rekindlepetlove@gmail.com</div>
              <img class="mail" src="../static/img/mail-1.svg" />
            </div>
            <div class="AR-VR"><div class="text-wrapper-3">AR/VR</div></div>
            <div class="AR-VR-wrapper"><div class="text-wrapper-3">寵物配對</div></div>
            <div class="view"><div class="text-wrapper-3">會員登入</div></div>
            <div class="quick-links">連結</div>
            <div class="div-wrapper"><div class="text-wrapper-3">捐款</div></div>
            <div class="view-2"><div class="text-wrapper-3">寵物地圖</div></div>
            <div class="div-wrapper-2"><div class="text-wrapper-4">寵物領/送養</div></div>
            <div class="view-3"><div class="text-wrapper-3">聊天室</div></div>
            <div class="services">服務</div>
            <div class="overlap-2">
              <div class="flexcontainer">
                <p class="text-i">
                  <span class="span">破鏡寵緣<br /></span>
                </p>
                <p class="text-i"><span class="span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讓愛延續</span></p>
              </div>
              <img class="logo" src="../static/img/logo-1.png" />
            </div>
            <img class="vector" src="../static/img/vector-6.svg" />
          </footer>
          <div class="group">
            <div class="div-2">
              <div class="text-wrapper-5">個人資訊</div>
              <div class="div-2"></div>
              <div class="text-wrapper-6">個人資訊</div>
            </div>
            <div class="overlap-3">
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="overlap-group-3">
                    <div class="text-wrapper-7">更改密碼</div>
                    <div class="text-wrapper-8">更改</div>
                  </div>
                  <img class="IOS-arrow-RTL" src="../static/img/ios-arrow-rtl-undefined-4.svg" />
                </div>
              </div>
              <div class="rectangle"></div>
              <div class="text-wrapper-9">功能列</div>
              <img class="img" src="../static/img/vector-11.svg" />
              <div class="overlap-group-wrapper">
                <div class="overlap-group-2">
                  <div class="overlap-group-3">
                    <div class="text-wrapper-7">更改密碼</div>
                    <div class="text-wrapper-8">更改</div>
                  </div>
                  <img class="IOS-arrow-RTL" src="../static/img/ios-arrow-rtl-undefined-4.svg" />
                </div>
              </div>
              <div class="rectangle"></div>
              <div class="text-wrapper-9">功能列</div>
              <img class="img" src="../static/img/vector-11.svg" />
            </div>
            <div class="overlap-4">
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <img class="IOS-arrow-RTL" src="../static/img/ios-arrow-rtl-undefined-5.svg" />
                  <div class="text-wrapper-10">AI文案生成</div>
                </div>
              </div>
              <img class="image" src="../static/img/image-12.png" />
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <img class="IOS-arrow-RTL" src="../static/img/ios-arrow-rtl-undefined-5.svg" />
                  <div class="text-wrapper-10">AI文案生成</div>
                </div>
              </div>
              <img class="image" src="../static/img/image-12.png" />
            </div>
            <div class="overlap-5">
              <div class="group-wrapper">
                <div class="group-2">
                  <div class="overlap-group-4">
                    <div class="group-3">
                      <div class="vector-wrapper"><img class="vector-3" src="../static/img/vector-8.svg" /></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="group-wrapper">
                <div class="group-2">
                  <div class="overlap-group-4">
                    <div class="ellipse-wrapper"><img class="ellipse" src="../static/img/my.png" /></div>
                    <div class="group-3">
                      <div class="vector-wrapper"><img class="vector-3" src="../static/img/vector-8.svg" /></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="overlap-6">
              <img class="ellipse-2" src="../static/img/ellipse-6.png" />
              <div class="img-wrapper"><img class="vector-4" src="../static/img/vector-9.svg" /></div>
              <img class="ellipse-2" src="../static/img/ellipse-6.png" />
              <div class="img-wrapper"><img class="vector-4" src="../static/img/vector-9.svg" /></div>
            </div>
            <div class="overlap-7">
              <div class="text-wrapper-11">布丁</div>
              <div class="rectangle-2"></div>
              <div class="text-wrapper-11">布丁</div>
            </div>
            <div class="overlap-8">
              <div class="text-wrapper-12">林美美</div>
              <div class="text-wrapper-12">林美美</div>
            </div>
            <div class="overlap-9">
              <div class="group-4">
                <div class="overlap-10"><div class="text-wrapper-13">一般用戶</div></div>
              </div>
              <div class="group-4">
                <div class="overlap-10"><div class="text-wrapper-13">一般用戶</div></div>
              </div>
            </div>
            <div class="overlap-11">
              <div class="group-5">
                <div class="overlap-12"><div class="text-wrapper-14">登出</div></div>
              </div>
              <div class="group-5">
                <div class="overlap-12"><div class="text-wrapper-15">登出</div></div>
              </div>
            </div>
            <div class="overlap-13">
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-16">聯絡我們</div>
                  <img class="IOS-arrow-RTL-2" src="../static/img/ios-arrow-rtl-undefined-6.svg" />
                </div>
              </div>
              <img class="image-2" src="../static/img/image-11.png" />
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-16">聯絡我們</div>
                  <img class="IOS-arrow-RTL-2" src="../static/img/ios-arrow-rtl-undefined-6.svg" />
                </div>
              </div>
              <img class="image-2" src="../static/img/image-11.png" />
            </div>
            <div class="overlap-14">
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-17">隱私條款</div>
                  <img class="IOS-arrow-RTL-3" src="../static/img/ios-arrow-rtl-undefined-7.svg" />
                </div>
              </div>
              <div class="overlap-wrapper">
                <div class="overlap-group-2">
                  <div class="text-wrapper-17">隱私條款</div>
                  <img class="IOS-arrow-RTL-3" src="../static/img/ios-arrow-rtl-undefined-7.svg" />
                </div>
              </div>
              <img class="vector-5" src="../static/img/vector-10.svg" />
            </div>
          </div>
          <a href="/nodify"><img class="vector-6" src="../static/img/vector-12.svg" /></a>
        </div>
        <div class="nav">
          <div class="overlap-15">
            <div class="overlap-16">
              <img class="line" src="../static/img/line-1.svg" />
              <div class="AR-VR-jpg"><img class="AR-VR-2" src="../static/img/ar-vr-1.png" /></div>
              <img class="map-jpg" src="../static/img/map-jpg-1.svg" />
              <div class="donate-jpg"><img class="donate" src="../static/img/donate-1.png" /></div>
              <div class="chat-jpg"><img class="chat" src="../static/img/chat-1.png" /></div>
              <div class="flexcontainer-i">
                <p class="text-i">
                  <span class="span">破鏡寵緣<br /></span>
                </p>
                <p class="text-i"><span class="span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讓愛延續</span></p>
              </div>
              <img class="logo" src="../static/img/logo-1.png" />
            </div>
            <div class="AR-VR-3"><div class="text-wrapper-18">AR/VR</div></div>
            <div class="view-4"><div class="text-wrapper-18">捐款</div></div>
            <div class="view-5"><div class="text-wrapper-18">寵物地圖</div></div>
            <div class="view-6"><div class="text-wrapper-18">聊天室</div></div>
          </div>
          <img class="user-jpg" src="../static/img/user-jpg-1.svg" />
          <div class="view-7"><div class="text-wrapper-18">個人資訊</div></div>
        </div>
      </div>
    </div>
  </body>
</html>
