<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>文案發布</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/nodify.css" rel="stylesheet">
    <link href="../static/css/nav.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/globals.css" />
    <link rel="stylesheet" href="../static/css/styleguide.css" />
  </head>
  <body>
    <div class="nodify">
      <div class="div">
        <div class="overlap">
          <img class="shape" src="static/img/shape-2.png" />
          <footer class="footer">
            <p class="text-wrapper">Copyright © 破鏡寵緣 讓愛延續 2024. All rights reserved.</p>
            <div class="overlap-group">
              <div class="text-wrapper-2">rekindlepetlove@gmail.com</div>
              <img class="mail" src="static/img/mail.svg" />
            </div>
            <div class="AR-VR"><div class="text-wrapper-3">AR/VR</div></div>
            <div class="AR-VR-wrapper"><div class="text-wrapper-3">寵物配對</div></div>
            <div class="view"><div class="text-wrapper-3">會員登入</div></div>
            <div class="quick-links">連結</div>
            <div class="div-wrapper"><div class="text-wrapper-3">捐款</div></div>
            <div class="view-2"><div class="text-wrapper-3">寵物地圖</div></div>
            <div class="div-wrapper-2"><div class="text-wrapper-4">寵物領/送養</div></div>
            <div class="view-3"><div class="text-wrapper-3">聊天室</div></div>
            <div class="services">服務</div>
            <div class="overlap-group-3">
              <div class="flexcontainer">
                <p class="text-i">
                  <span class="span">破鏡寵緣<br /></span>
                </p>
                <p class="text-i"><span class="span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讓愛延續</span></p>
              </div>
              <img class="logo" src="static/img/logo-1.png" />
            </div>
            <img class="vector" src="static/img/vector-6.svg" />
          </footer>
        </div>
        <div class="text-wrapper-5">通知中心</div>
        <div class="rectangle"></div>
        <div class="nav">
          <div class="overlap-2">
            <div class="overlap-3">
              <img class="line" src="static/img/line.svg" />
              <div class="AR-VR-jpg"><img class="img" src="static/img/ar-vr-1.png" /></div>
              <div class="donate-jpg"><img class="donate" src="static/img/donate.png" /></div>
              <div class="chat-jpg"><img class="chat" src="static/img/chat.png" /></div>
              <img class="vector-2" src="static/img/vector-1.svg" />
              <div class="flexcontainer-i">
                <p class="text-i">
                  <span class="span">破鏡寵緣<br /></span>
                </p>
                <p class="text-i"><span class="span">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;讓愛延續</span></p>
              </div>
              <img class="logo" src="static/img/logo-1.png" />
            </div>

            <form method="POST" enctype="multipart/form-data">
                <div class="group">
                    <div class="overlap-4">
                        <div class="text-wrapper-7">動物走失尋找</div>
                        {% if photo_url %}
                        <img src="{{ photo_url }}" class="img2">
                        {% else %}
                        <p>尚未上傳圖片</p>
                        {% endif %}
                        <p class="overlap-group-2">{{ ad_content |replace('\n', '<br>')|safe}}</p>
                    </div>
                </div>
             </form>

            <div class="AR-VR-2"><div class="text-wrapper-6">AR/VR</div></div>
            <div class="view-4"><div class="text-wrapper-6">捐款</div></div>
            <a href="/map"><img class="map-jpg" src="static/img/map-jpg.svg" />
              <div class="view-5"><div class="text-wrapper-6">寵物地圖</div></div></a>
            <div class="view-6"><div class="text-wrapper-6">聊天室</div></div>
          </div>
          <img class="user-jpg" src="static/img/user-jpg.svg" />
          <div class="view-7"><div class="text-wrapper-6">個人資訊</div></div>
        </div>
      </div>
    </div>
  </body>
</html>